<div class="row alert-custom">
    <div class="col-lg-4">
        <div class="list-group">
            <a href="/admin" class="list-group-item  list-group-item-action">
                Historial de compras
            </a>
            <a href="/products" class="list-group-item list-group-item-action active">Productos adquiridos
            </a>
            <a href="/top-five" class="list-group-item list-group-item-action">Top 5 productos
            </a>
            <a href="/common" class="list-group-item list-group-item-action">Productos comunes con cliente
            </a>
            <a href="/add" class="list-group-item list-group-item-action">Agregar Concierto
            </a>
            <a href="/addMovie" class="list-group-item list-group-item-action">Agregar Película
            </a>
            <a href="/" class="list-group-item list-group-item-action">Cerrar Sesión
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row alert-custom">
            <div class="col">
                <h1>Productos adquridos</h1>
            </div>
        </div>
        <div class="row alert-custom" ng-repeat="product in products">
            <div class="col">
                <div class="card">
                    <h3 class="card-header">Cliente: {{product.cliente}}</h3>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="event in product.productos">
                                {{event.nombre}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>